@media (max-width: 800px) {
    
    .only_block {
        width: 100%;
        height: 1000px;
    }
    .nickname blockquote{
        font-size: 21px;
    }
    
    .description_1{
        font-size: 17px;
    }

    .avatar_img{
        width: 193px;
        height: 193px;
    }

    .nickname p{
        font-size: 33px;
    }

    header p{
        font-size: 25px;
        margin-left: 0px;
    }

    .wrapper {
        width: 100%;
        height: 1920px;
    }

    header{
        width: 100%;
    }
}

@media (min-height: 900px) {
    
    .wrapper{
        height: 1000px;
    }

}

@media (min-height: 1067px) {

    .wrapper{
        height: 1140px;
    }
    
}

@media (max-width: 1245px) {
    .wrapper{
        height: 880px;
    }

    .left_box{
        
    }
}

@media (max-width: 801px) {
    .wrapper{
        height: 1430px;
    } 
}

@media (max-width: 712px) {
    .only_block {
        width: 99%;
        height: 1080px;
    }
    
    header{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 474px) {

    .only_block {
        height: 1290px;
    }

    .wrapper{
        height: 2000px;
    } 
}

@media (max-width: 306px) {
    .project_text{
        font-size: 35px;
    }

    .nickname blockquote{
        font-size: 25px;
    }

    .only_block {
        height: 1080px;
    }
}

@media (max-width: 300px) {
    .avatar_img{
        width: 193px;
        height: 193px;
    }
}

@media (min-width: 2500px) {
    .wrapper{
        height: 1150px;
        /* margin-left: 200px; */
    }

    footer p{
        font-size: 412px;
    }
}

@media (min-width: 3800px) {
    .wrapper{
        height: 1580px;
        /* margin-left: 200px; */
    }

    .left_box{
        padding-bottom: 500px;
        margin-left: 800px;
    }

    .right_box{
        padding-bottom: 500px;
        margin-right: 800px;
    }
}

@media (min-width: 712px) {
     html{  
        overflow-y: hidden; 
    }
}


