@media (max-width: 800px) {
    
    .only_block {
        width: 100%;
        height: 1000px;
    }
    

    .nickname p{
        font-size: 33px;
    }

    header p{
        font-size: 25px;

    }

    .wrapper {
        width: 100%;
        height: 1920px;
    }

    header{
        width: 100%;
    }
}

@media (min-height: 900px) {
    
    .wrapper{
        height: 1000px;
    }

}